body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Align buttons vertically */
}

li:hover {
    background-color: #f0f0f0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-btn,
.edit-btn {
    flex: 1; /* Make buttons take equal width */
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
    color: #fff;
    margin-right: 5px;
}

.edit-btn {
    background-color: #3498db;
    color: #fff;
    margin-left: 5px;
}
